<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    <script type="text/javascript">
        $(document).ready(function () {
            window.app = {};

            window.app.changePage = function (params) {
                $("#page").val(params.page);
                $("#list").load('@ViewBag.TablePartialViewLink', params);
            };

            window.app.nextPage = function () {
                var page = Number($("#page").val());
                var pageMax = Number($("#pageMax").val());
                page++;

                if (page + 1 >= pageMax) {
                    page = pageMax - 1;
                }

                window.app.changePage({page});
            };

            window.app.prevPage = function () {
                var page = Number($("#page").val());
                page--;

                if (page - 1 < 0) {
                    page = 0;
                }

                window.app.changePage({ page });
            };

            window.app.newUser = function () {
                var page = $("#page").val();
                window.app.changePage({ page, withNew: true});
            }
            window.app.refreshView = function () {
                var page = $("#page").val();
                window.app.changePage({page});
            }

            window.app.submitTask = function () {
                var url = '@Url.Action("SubmitForm", "Tasks", null, Request.Url.Scheme)';
                var taskData = $("#taskForm").serialize();
                var commentsData = $("#commentsForm").serialize();
                var data = taskData + "&" + commentsData;
                
                $.ajax({
                    type: "POST",
                    url: url,
                    data: data,
                    success: function (data) {
                        $("document").html(data);
                    }
                });

                return false; // to avoid default submit behavior
            };

            window.app.submitDelete = function (comment) {
                var url = '@Url.Action("CommentsList", "Tasks", null, Request.Url.Scheme)';
                var data = $("#commentsForm").serialize();
                data += "&delete=" + comment;
                
                $.ajax({
                    type: "POST",
                    url: url,
                    data: data,
                    success: function (data) {
                        $("#comments").html(data);
                    }
                });

                return false; // to avoid default submit behavior
            };

            window.app.refreshView();
        });
    </script>
</head>
<body>
    <div class="container body-content">
        @RenderBody()
    </div>


    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
