<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    <script type="text/javascript">
        $(document).ready(function () {
            window.app = {};

            window.app.changePage = function (params) {
                $("#page").val(params.page);
                $("#list").load('@ViewBag.TablePartialViewLink', params);
            };

            window.app.nextPage = function () {
                var page = Number($("#page").val());
                var pageMax = Number($("#pageMax").val());
                page++;

                if (page + 1 >= pageMax) {
                    page = pageMax - 1;
                }

                window.app.changePage({page});
            };

            window.app.prevPage = function () {
                var page = Number($("#page").val());
                page--;

                if (page - 1 < 0) {
                    page = 0;
                }

                window.app.changePage({ page });
            };

            window.app.newUser = function () {
                var page = $("#page").val();
                window.app.changePage({ page, withNew: true});
            }
            window.app.refreshView = function () {
                var page = $("#page").val();
                window.app.changePage({page});
            }

            window.app.submitTask = function () {
                if (!document.getElementById("taskForm").checkValidity()) {
                    return;
                }

                var url = '@Url.Action("SubmitTask", "Tasks", null, Request.Url.Scheme)';
                var taskData = $("#taskForm").serialize();
                var commentsData = $("#commentsForm").serialize();
                var data = taskData + "&" + commentsData;

                $.ajax({
                    type: "POST",
                    url: url,
                    data: data,
                    dataType: 'html',
                    success: function (data) {
                        $("html").html(data);
                    },
                    complete: function (data) {
                        $("html").html(data);
                    }
                });

                return false; // to avoid default submit behavior
            };

            window.app.deleteTask = function () {
                if (!confirm("Хотите удалить данную задачу?")) {
                    return;
                }

                var url = '@Url.Action("DeleteTask", "Tasks", null, Request.Url.Scheme)';
                var taskId = $("#taskId").val();
                var data = { taskId }

                $.ajax({
                    type: "POST",
                    url: url,
                    data: data,
                    dataType: 'html',
                    success: function (data) {
                        location.href = '@Url.Action("Index", "Home", null, Request.Url.Scheme)';
                    }
                });

                return false; // to avoid default submit behavior
            };

            window.app.addComment = function () {
                if (!document.getElementById("newCommentForm").checkValidity()) {
                    return;
                }

                var url = '@Url.Action("CommentsList", "Tasks", null, Request.Url.Scheme)';
                var data = $("#commentsForm").serialize();
                var newComment = $("#newCommentForm").serialize();
                data += "&" + newComment + "&newComment.Creator=" + window.app.getCookie('activeUser') + "&action=add";

                $.ajax({
                    type: "POST",
                    url: url,
                    data: data,
                    success: function (data) {
                        $("#comments").html(data);
                    }
                });

                return false; // to avoid default submit behavior
            };

            window.app.deleteComment = function (comment) {
                var url = '@Url.Action("CommentsList", "Tasks", null, Request.Url.Scheme)';
                var data = $("#commentsForm").serialize();
                data += "&action=delete_" + comment;

                $.ajax({
                    type: "POST",
                    url: url,
                    data: data,
                    success: function (data) {
                        $("#comments").html(data);
                    }
                });

                return false; // to avoid default submit behavior
            };

            window.app.setCookie = function setCookie(name, value, days) {
                var expires = "";
                if (days) {
                    var date = new Date();
                    date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
                    expires = "; expires=" + date.toUTCString();
                }
                document.cookie = name + "=" + (value || "") + expires + "; path=/";
            };
            window.app.getCookie = function getCookie(name) {
                var nameEQ = name + "=";
                var ca = document.cookie.split(';');
                for (var i = 0; i < ca.length; i++) {
                    var c = ca[i];
                    while (c.charAt(0) == ' ') c = c.substring(1, c.length);
                    if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
                }
                return null;
            };
            window.app.setActiveUser = function (user) {
                window.app.setCookie("activeUser", user, 7);
            };

            window.app.refreshView();
        });
    </script>
</head>
<body>
    <div class="container body-content">
        @RenderBody()
    </div>


    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
