@model Gandiva.Models.CommentsViewModel
@{ Layout = null; int i = 0;}

<form method="post" id="commentsForm">
    @foreach (var comment in Model.Comments)
    {
        int displayIndex = i + 1;
        <fieldset>
            <legend>Комментарий @displayIndex</legend>
            <input hidden name="Comments[@i].id" value="@comment.Id" />
            <div class="row vertical-align">
                <div class="col-sm-3">
                    <input hidden name="Comments[@i].creator" value="@comment.Creator" />
                    <label class="form-control tasks-desc" rows="3">@ViewBag.Users[comment.Creator]</label>
                </div>
                <div class="col-sm-6">
                    <textarea class="form-control tasks-desc" rows="3" name="Comments[@i].Description">@comment.Description</textarea>
                </div>
                <div class="col-sm-3"><button type="button" class="btn btn-default btn-block" onclick="window.app.submitDelete(@i)">Удалить</button></div>
            </div>
        </fieldset>
        i++;
    }
</form>