@model Gandiva.Models.TasksViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="navbar">
    <div class="top-bar-element top-bar-element-left">
        @Html.ActionLink("Home", "Index", "Home")
        <span>|</span>
        @Html.ActionLink("Пользователи", "Index", "Home")
    </div>
</div>

<div class="container">
    <div class="input-group task-header">
        @if (Model.Id.HasValue)
        {
            <span class="input-group-addon">Задача № @Model.Id.Value</span>
        }
        @Html.TextBoxFor(x => x.Title, new { @class = "task-title form-control", placeholder = "Заголовок задачи" })
    </div>
    <fieldset>
        <legend>Описание задачи</legend>
        <div class="row">
            <div class="col-sm-4">
                @Html.DropDownListFor(x => x.Creator, new SelectList(Model.Users, "Id", "FullName", Model.Creator))
            </div>
            <div class="col-sm-4">
                @Html.DropDownListFor(x => x.Contractor, new SelectList(Model.Users, "Id", "FullName", Model.Contractor), "")
            </div>
            <div class="col-sm-4">
                @if (Model.Id.HasValue)
                {
                    @Model.CreatedDate
                }
            </div>
        </div>
        @Html.TextAreaFor(x => x.Description, new { @class = "form-control tasks-desc", rows="5" })
        <div class="row">
            <div class="col-sm-6">&nbsp;</div>
            <div class="col-sm-3"><button type="button" class="btn btn-default btn-block">Сохранить</button></div>
            <div class="col-sm-3"><button type="button" class="btn btn-default btn-block">Удалить</button></div>
        </div>
    </fieldset>
    <fieldset>
        <legend>Новый комментарий</legend>
        <div class="row vertical-align">
            <div class="col-sm-9">
                <textarea class="form-control tasks-desc" rows="3"></textarea>
            </div>
            <div class="col-sm-3"><button type="button" class="btn btn-default btn-block">Сохранить</button></div>
        </div>
    </fieldset>

</div>
